node_modules/
.env
.env.local
.env.development
.env.production
.DS_Store
*.log
dist/
build/
__pycache__/
*.py[cod]
.venv
venv/
.pytest_cache/
.mypy_cache/
*.egg-info/
*.eggs/
pip-wheel-metadata/
htmlcov/
.coverage
.tox/
coverage.xml
nosetests.xml
.ipynb_checkpoints/
*.sqlite3
*.db
*.pkl
*.h5
